<!DOCTYPE html>
<html>
<head>
	<title>Your personal page!</title>
</head>
<body>
	<h1>Your own Home Page</h1>
	<p>Welcome, <%= user.name %>!</p>
    <p>Only <%= user.name %> can access this page.</p>
</body>
</html>